<!DOCTYPE html>
<html>
<head>
    <title>Select Columns</title>
</head>
<body>
    <h1>Select Columns</h1>
    <form id="columnsForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="file" value="{{ file }}">
        <div id="columnsList">
            {% for column in columns %}
                <input type="checkbox" name="selected_columns" value="{{ column }}">{{ column }}<br>
            {% endfor %}
        </div>
        <br>
        <input type="button" value="Plot" onclick="submitForm('plot')">
        <input type="button" value="Display Data" onclick="submitForm('display')">
    </form>

    <script>
        function submitForm(action) {
            var form = document.getElementById('columnsForm');
            var formAction = (action === 'plot') ? '{% url 'plot_result' %}' : '{% url 'display_data' %}';
            form.action = formAction;
            form.submit();
        }
    </script>
</body>
</html>
